/* Add CSS Styling */
.odd {
    background-color: lightpink;
    font-family: 'Veranda', 'DejaVu Sans', sans-serif;
}

#two {
    color: blue;
    font-size: 36px;
}

#four{
    background-color: lightgreen; 
    font-size: 24px;
    font-weight: 700;
}

#fontsize24px {
    font-size: 24px;
}